.books {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  place-items: center;
  padding-top: 5%;
}

.item {
  border-radius: 15px;
  width: 200px;
  height: 350px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  background-color: white;
  padding: 2%;
  font-size: small;
  box-shadow: 0px 2px 13px 1px #a6a3a378;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}
.item:hover{
  box-shadow: 0px 2px 13px 11px #a6a3a378;
  -webkit-transition: all 2.5s ease;
  -moz-transition: all 2.5s ease;
  -ms-transition: all 2.5s ease;
  transition: all 2.5s ease;
}

.item .description {
  text-align: left;
  width: 50%;
}

.item img{
border-radius: 5px;
}
.item .addToCart {
  float: right;
  /* width: fit-content;
  display: flex;
  position: absolute;
  margin: 5px;
  color: black;
  background-color: #fffcfc94;
  border-radius: 3px;
  display: flex; */
}

.item .addToCart:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}
.item .price
{
  color: red;
  font-size: larger;
  text-decoration: underline;
}

.item hr
{
  width: 90%;
  box-shadow: 0px -1px 0px rgb(149 147 147 / 69%);
  color: #0c0c0c;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .books {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    padding-top: 15%;
  }  
}